# Fichiers créées par phpstorm
src/.idea
.idea

# Templates
Documentation/Templates
Documentation/Template
src/index.zip
Documentation/Personnelle/~$Monteiro Rui - Journaux - ProjetWeb.xlsx
src/Model/dbConnector.php
