/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/



#button-addon1 {
    color: #ffc371;
}

i {
    color: #ffc371;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: red;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.form-control1 {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    padding: 10px 20px;
    height: auto;
    display: block;
    min-height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}