@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Syne+Mono&display=swap');

html,
body {
    background-color: #E3F8F5 !important;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    min-width: 1000px;
}

a,
a:hover,
a:visited,
a:active {
    color: black;
}

.container {
    height: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.legend {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.form-body {
    background-color: #FFF;
    height: 525px;  /* HEIGHT DU CONTAINER */
    margin-top: 5%;
    border-radius: 8px;
}

.middle1 {
    text-align: right;
    margin-right: 15%;
    padding-top: 50px;
}

.middle {
    text-align: right;
    margin-right: 15%;
    padding-top: 30px;
}


.box {
    background-color: #EBEBEB;
}

.label {
    margin-right: 15px;
}

.write_box,
.write_box:active,
.write_box:focus {
    border-radius: 8px;
    padding: 8px;
    text-shadow: none;
    text-align: start;
    background-color: #EBEBEB;
    box-sizing: inherit;
    writing-mode: horizontal-tb !important;
    width: 75%;
    border: transparent;
}

label {
    display: inline-block;
    text-align: right;
}

.btn {
    margin-left: 40%;
    background-color: #24E5DB;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    margin-top: 30px;
}

.register-error{
    color: red;
    font-weight: bold;
    margin-right: 25%;
}